<form class="form-horizontal" ng-submit="save()">
    <fieldset>
        <legend>Nuevo producto</legend>
        <div class="form-group is-empty">
            <label for="textArea" class="col-md-2 control-label">Descripción</label>

            <div class="col-md-10">
                <textarea class="form-control" rows="3" id="textArea" ng-model="product.description"></textarea>
                <span class="help-block">Agrega una descripción para el producto, ¡Puede ser el nombre!</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button type="submit" class="btn btn-raised btn-primary">Guardar</button>
            </div>
        </div>
    </fieldset>
</form>