<div ng-init="getProducts(currentPage, limit)" class='div-table-products'>
    <div class="table-responsive">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Productos</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in products">
                    <td>{{product.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <ul class="pager">
        <li>
            <a class="withripple" ng-click="previous()" ng-hide="currentPage === 1">
               <i class="material-icons">arrow_back</i>
            </a>
        </li>
        <li>
            <a class="withripple" ng-click="next()" ng-hide="nextDisable">
               <i class="material-icons">arrow_forward</i> 
            </a>
        </li>
    </ul>
    <a ui-sref="product.add" class="btn btn-primary btn-fab btn-add-product">
        <i class="material-icons">add</i>
        <div class="ripple-container"></div>
    </a>
</div>

