.main-container-greencube-demo{
    margin-top: 50px;
}
.main-container-greencube-demo .div-table-products{
    position: relative;
}
.main-container-greencube-demo .div-table-products .btn-add-product{
    position: absolute;
    top: -2em;
    right: -1.5em;
}
.main-container-greencube-demo .div-table-products .btn-add-product:hover{
    background-color: #07776d !important;
}
.main-container-greencube-demo .div-table-products .pager li a{
    cursor:pointer;
}